:root {
    --darkest: #051e3e;
    --dark: #251e3e;
    --medium: #451e3e;
    --light: #651e3e;
    --lightest: #851e3e;
    --font-color: oldlace;
    --background: var(--dark);
    box-sizing: border-box;
    color: var(--font-color);
    font-size: calc(0.5em + 1vw);
}

*+* {
    margin-left: 0.5em;
}

@media (max-width: 30em) {
    :root {
        font-size: 1em;
    }
}

body {
    background: linear-gradient(to right, var(--dark) 0%, var(--medium) 6%, var(--medium) 94%, var(--dark) 100%);
    margin: 1em 3em;
}

@media (max-width: 30em) {
    body {
        margin: 1.25em;
    }
}

header>h1 {
    border-bottom: 1px solid var(--lightest);
    font-family: Megrim;
}

nav {
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0.5em 1em 0.5em 0;
    padding: 0;
}

nav ul>li {
    display: inline-block;
    font-family: 'Rock Salt'
}

nav ul>li+li {
    margin-left: 2em;
}

nav a {
    color: var(--font-color);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 30em) {
    nav ul {
        display: block;
        margin: 0.5em 1em;
    }
    nav ul>li {
        display: block;
        margin: 0;
    }
    nav ul>li+li {
        margin: 0;
    }
}

main {
    background: linear-gradient(to right, var(--light), var(--lightest));
    display: grid;
    height: 30em;
    margin: 0;
    padding: 0.2em;
}

.section-content {
    background: var(--background);
    padding: 1em;
}

.section-content + .section-content {
    margin-top: 0.2em;
    margin-left: 0;
}

button {
    background: var(--lightest);
    border: none;
    border-radius: 0.5em;
    box-shadow: -3px 2px 2px 0px rgba(0, 0, 0, 0.1);
    color: var(--font-color);
    font-size: 1.1em;
    padding: 0.5em 1em;
}

button:hover {
    background: var(--light);
    cursor: pointer;
}

button:active {
    color: #f9f4eb;
    transform: translateY(0.2em);
}